<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster&display=swap" rel="stylesheet"> <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <title>Visualize CNN</title>
  </head>
  <body>

    <div id="loading" style="display: none;">

      <h1>
    Getting ouptuts of your Model
  </h1>

  <img src="static/cooking.gif" height="500px">

  
  <h2 style="margin-bottom: 100px;">
    be patient<br>It may take some time depending on your model
  </h2>
  
</div>

    {% block content %} {% endblock %}


    <footer class="page-footer">
    
    <div class="bottom-container" style="margin-top: 90px">
      <h1 class="contact">Talk to Me !</h1>
            <a class="footer-link" href="https://www.linkedin.com/in/programminghut">
            <i class="fa fa-linkedin fa-1x" aria-hidden="true"></i>
            </a>
            <a class="footer-link" href="https://twitter.com/programming_hut">
              <i class="fa fa-twitter fa-1x" aria-hidden="true"></i>
            </a>
            <a class="footer-link" href="https://youtube.com/c/programminghutofficial">
              <i class="fa fa-youtube fa-1x" aria-hidden="true"></i>
            </a>
            <a class="footer-link" href="https://github.com/Pawandeep-prog">
              <i class="fa fa-github fa-1x" aria-hidden="true"></i>
            </a>
            <a class="footer-link" href="https://www.facebook.com/proogramminghub">
            <i class="fa fa-facebook fa-1x" aria-hidden="true"></i>
            </a>
            <a class="footer-link" href="https://discord.gg/G5Cunyg">
            <span style="font-size: 25px">discord</span>
            </a>
            <p style="font-size: medium; margin-top: 20px;">2021 Pawandeep Singh</p>
    </div>

    </footer>

  <script>
  function func(){
   document.getElementById("loading").style.display = "block" ;
   document.getElementById("content").style.display = "none" ;
  }
</script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='script.js')}}" type="text/javascript" charset="utf-8" async defer></script>
  </body>
</html>