{% extends 'base.html' %}

{% block content %}


	<div id="content">
		<h1>CHOOSE <b>IMAGE</b></h1>

		<form method="POST" enctype="multipart/form-data" action="{{ url_for('model') }}">
			<input class="btn btn-outline-primary btn-lg" type="file" name="img">
			<br>
			<input type="submit" class="btn btn-lg btn-primary mt-3" name="" value="submit" placeholder="" onclick="func()">
		</form>
		<img src="static/sel_image.gif" height="400px" style="margin: 60px; opacity: 60%">
	</div>




{%endblock%}